# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env.example

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Reports
exports/

# Python Cache
.pytest_cache/
.mypy_cache/

# OS
Thumbs.db
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Build
dist/
build/


# Test
tests/
*.tests
